*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0 0 40px 0;
	background-color: #FFF0F5;
	font-family: serif;	
}

.header {
	padding:10px;
}

h1{
	color: #4B0082;
	text-indent: 5%;
}

.content>p{
	color: black;
	padding: 10px 0;
	text-indent: 25px;
	background-color: #fff;
	padding:10px;
	font-size: 20px;
	background-color: #FFF0F5;
}

.sec {
	overflow: scroll;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.sec p {
	color: #666;
}
.tab{
	width: 400px;
	padding: 8px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #FFC0CB;
	box-shadow: 3px 3px #D8BFD8;
	display: inline-block;
	border-radius: 5px; 
}
.title{
	padding: 8px 0 0 8px;
}
.showbox{
	display: flex;
	margin-top: 5px;
	margin-left: 8px;
	color: #FFF0F5;
    text-align: center;

}
.showbox .item{
	line-height: 30px;
	background-color: #fff;
}
.showbox .item:nth-child(1){
	background-color: #FF1493;
}
.showbox .item:nth-child(2){
	background-color: #FF69B4;
}
.showbox .item:nth-child(3){
	background-color: #DA70D6;
}
.showbox .item:nth-child(4){
	background-color: #9370DB;
}
.showbox .item:nth-child(5){
	background-color: #800080;
}
.showbox .item:nth-child(6){
	background-color: #483D8B;
}
.boxborder {
	border: dashed red 1px;
}
.showbox .item span {
	display: block;
}
.showboxh .item {
	height: 40px;
	width: 150px;
	line-height: 1.2;
}
.showbox-reverse {
	flex-direction: row-reverse;
}
.showbox-column {
	height: 200px;
	flex-direction: column;
}
.showbox-column-reverse {
	height: 200px;
	flex-direction: column-reverse ;
}

.showbox-nowrap {
	flex-wrap: nowrap;
}
.showbox-wrap {
	flex-wrap: wrap;
}
.showbox-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.showbox-align-content {
	width: 380px;
	height: 200px;
	flex-wrap: wrap;
	border: 1px dashed red;
}
.showbox-align-content .item:nth-child(1),
.showbox-align-content .item:nth-child(2),
.showbox-align-content .item:nth-child(3),
.showbox-align-content .item:nth-child(4),
.showbox-align-content .item:nth-child(5),
.showbox-align-content .item:nth-child(6){
	background-color: #BA55D3;
	width: 70px;
	margin: 2px 10px;
}